@use "global" as *;

.voice {

    padding-bottom: rem(80);
    @include mq("md") {
        background-image: url(/assets/images/common/voice-bg.png);
        background-repeat: no-repeat;
        background-size: 78% 87%;
        background-position: center 55%;
        padding-top: rem(163);
        padding-bottom: rem(135);
    }

}

.voice__inner {}

.voice__header {}

.voice__content {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(44);
        display: flex;
        flex-wrap: wrap;
    }
}

.voice__card {
    margin-right: auto;
    margin-left: auto;

    @include mq("md") {
        max-width: calc(50% - 40px * 1 / 2);
        width: 100%;
        display: block;
    }
}

.voice__card+.voice__card {
    margin-top: rem(40);

    @include mq("md") {
        margin-left: rem(40);
        margin-top: 0;
    }
}

.voice__card.voice-card:nth-of-type(2n+1) {
    @include mq("md") {
        margin-left: 0;
    }
}

.voice__card.voice__card.voice-card:nth-of-type(n+3) {
    @include mq("md") {
        margin-top: rem(40);
    }
}

.voice__button {
    text-align: center;
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}