@use "global" as *;

.button {
    background-color: #408F95;
    border: solid 1px #408F95;
    color: #fff;
    display: inline-block;
    font-family: "Gotu", sans-serif;
    font-size: 0.875rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 5.5rem;
    padding-top: 1rem;
    position: relative;
    z-index: 1;
    // background-image: url(/assets/images/common/arrow.png);
}

.button::before {
    border: solid 1px #408F95;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0.25rem;
    position: absolute;
    top: 0.25rem;
    width: 100%;
    z-index: -2;
}

.button::after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
    width: 100%;
    z-index: -1;
}

.button:hover::after {
    transform: scale(1, 1);

}


.button span::before {
    background-image: url(/assets/images/common/button-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 0.38rem;
    position: absolute;
    right: 2.5rem;
    top: 46%;
    transform: translateY(-50%);
    width: 2.5rem;
    z-index: 1;
}

.button span::after {
    background-image: url(/assets/images/common/button-active.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 0.38rem;
    opacity: 1;
    position: absolute;
    right: 2.5rem;
    top: 47%;
    transform: translateY(-50%);
    width: 2.5rem;
}

.button:hover {
    color: $green;
}