@use "global" as *;

.js-colorbox {
    position: relative;
    width: 100%;
    // margin: 30px auto 30px;
    height: auto;
    // margin: auto;
}

.js-colorbox__sp {
    position: relative;
    width: 100%;
    // margin: 30px auto 30px;
    height: auto;
    display: block;
    // margin: auto;
}


.js-colorbox img {
    // position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $green;
    display: block;
    width: 100%;
}

.js-color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $green;
}
.js-colorbox img{
}