@use "global" as *;

// ドロワー
.drawer-menu {
    position: absolute;
    z-index: 5000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $green;
    overflow-y: scroll;
    color: $white;
}

.drawer-menu__inner {
    display: flex;
    flex-direction: column;
    padding: 0 rem(38);
    overflow-y: scroll;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.drawer-menu__image {
    width: rem(102);
    display: inline-block;
    margin-top: rem(23);
    margin-left: rem(16);
}


.drawer-menu__image a {
    
}

.drawer-menu__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.drawer-menu__left {
    max-width: rem(144);
    width: 100%;
    text-align: left;
}


.drawer-menu__right {
    max-width: rem(144);
    width: 100%;
    margin-left: rem(28);
}


.drawer-menu__item {
    display: inline-block;
    width: 100%;
}

.drawer-menu__item:not(:first-child) {
   
}


.drawer-menu__item a {
    display: block;
    line-height: 112.5%;
}

.drawer-menu__head {
    margin-top: rem(36);
    font-size: rem(16);
    font-weight: $bold;
    position: relative;
    width: rem(144);
    line-height: 112.5%;
}

.drawer-menu__head::before {
    content: url(/assets/images/common/star-fish.png);
    transform: scale(0.5);
    top:rem(-3);
    left:rem(-29);
    width: rem(20);
    height: rem(20);
    display: block;
    position: absolute;
}

.drawer-menu__list {
    margin-top: rem(24);
    font-size: rem(16);
    color: $white;
    font-weight: $regular;
    line-height: 1.1;
}


