@use "global" as *;

.voice-upper {
    display: flex;
    width: 100%;
    @include mq("md") {
        width: 100%;
    }

}

.voice-upper__text {
    display: flex;
    width: 100%;

}

.voice-upper__info {
    width: 100%;
    font-size: rem(12);
    font-weight: $regular;
    border-bottom: 1px solid #408F95;
    @include mq("md") {
        display: block;
    }
}

.voice-upper__wrap {
    display: block;
    @include mq("md") {
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: rem(52);
        padding-left: rem(8);
    }
}

.voice-upper__age {

}

.voice-upper__tag {
    color: $green;
    border: 1px solid $green;
    padding: rem(4) rem(12);
    display: inline-block;

    @include mq("md") {
        padding: rem(4) rem(14);
    }

}

.voice-upper__sub-title {
    display: inline-block;
    font-size: rem(16);
    padding-top: rem(5);
    @include mq("md") {
        margin-top: rem(14);
        font-size: rem(24);
        padding-left: rem(7);
    }

}

.voice-upper-image {
    aspect-ratio: 151/117;
    overflow: hidden;
    width: 100%;
    margin-left: rem(13);
    @include mq("md") {
        aspect-ratio: 300/200;
        margin-left: rem(16);
        width: 67%;
    }

}

.voice-upper-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}